{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "cliente/menu.html" %}
{%endblock %}
{% block contenido %}
    <br>
    <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 7rem;">
        <form id="frmAgendarCita" action="/agendarCita/" method="post" enctype="multipart/form-data" class="needs-validation w-75" novalidate>                   
                {% csrf_token%}
                <h3 class="text-center fw-bold">AGENDAR CITA</h3>
                <br>
                <div class="form-group row">
                    <div class="col-lg-3 mb-3">
                        <label for="cbNombreMascota" class="fw-bold">Nombre Mascota:</label>
                        <select name="cbNombreMascota" id="cbNombreMascota" class="form-select" required>
                            <option value="Seleccione">Seleccione</option>
                            {% for mascota in mascotas %}
                            <option value="{{mascota.id}}">{{mascota.masNombre}}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <div class="col-lg-3 mb-3">
                        <label for="cbEspecie" class="fw-bold">Especie:</label>
                        <select name="cbEspecie" id="cbEspecie" class="form-select">
                            <option value="Seleccione">Seleccione</option>
                            <option value="Canino">Canino</option>
                            <option value="Felino">Felino</option>
                            <option value="Reptil">Reptil</option>
                            <option value="Roedor">Roedor</option>
                            <option value="Ave">Ave</option>
                            <option value="Pez">Pez</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="mb-3 col-lg-4">
                        <label for="txtRaza" class="fw-bold">Raza</label>
                        <input type="text" name="txtRaza" class="form-control" id="txtRaza" placeholder="Raza" required>
                    </div>
                    <div class="mb-3 col-lg-4">
                        <label for="txtColor" class="fw-bold">Color Pelaje</label>
                        <input type="text" name="txtColor" class="form-control" id="txtColor" placeholder="Color" required>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <label for="cbSexo" class="fw-bold">Sexo:</label>
                        <select name="cbSexo" id="cbSexo" class="form-select">
                            <option value="Hembra">Hembra</option>
                            <option value="Macho">Macho</option>
                        </select>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="txtFecha" class="fw-bold">Fecha Nacimiento:</label>
                        <input type="datetime-local" name="txtFecha" id="txtFecha" class="form-control" max="{{hoy}}" required> 
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary">Registrar</button>
                    <a href="/vistaGestionarCitasAgendadas/"><button type="button" class="btn btn-danger mx-2">Cancelar</button></a>
                </div>
            </form>

{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}